<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.materialtest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="MainActivity"></activity>
        <activity
            android:name=".SecondActivity"
            android:label="TodoList"
            android:theme="@style/FruitActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FruitActivity"
            android:label="FruitActivity"
            android:theme="@style/FruitActivityTheme"></activity>
        <activity android:name=".AddActivity"
            android:label=""
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".CheckActivity" />
        <activity android:name=".EditActivity"
            android:label=""/>
    </application>

</manifest>